<!-- <div class="row">
    <div class="col-xs-12">
        <button class="button btn-success">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">

    </div>
</div> -->
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h2 class="panel-title pull-left">Contacts</h2>
        <div class="pull-right">
            <a routerLink="new" class="btn btn-success">New Contact</a>
        </div>
    </div>
    <div class="panel-body">
        <cms-contact-item *ngFor="let contact of contacts" [contact]="contact" dnd-draggable [dragEnabled]="true"
            [dragData]="contact" [dropZones]="['contactGroup']"></cms-contact-item>
    </div>
</div>